#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sat Apr 13 13:30:19 2019

@author: takuma
"""

table {
    margin:10px;
    font-size:14pt;
}

table tr th {
    background-color:#009;
    color:white;
    padding:2px 10px;
    border-width:2px;
}

table tr td {
    background-color:#eee;
    color:#666;
    padding:2px 10px;
    border-width:2px;
}

body {
    color:gray;
    front-size:66pt;
}
h1 {

    color:red;
    opacity:0.8;
    font-size:60pt;
    margin-top:-20px;
    margin-bottom:0px;
    text-align:right;
}
p {
    margin :10px;
}
a {
    color:blue;
    text-decoration:none;
}

